
<form ng-submit="submit()" name="signup" class="form-signin" novalidate>
    <h1 class="form-signin-heading text-muted">Register</h1>
    <input type="email" ng-model="email" class="form-control" placeholder="Email address" autofocus=""  required>
    <p class="help-block" ng-show="signup.email.$dirty && signup.email.$invalid">Please enter a proper email.</p>
    <input name="password" ng-model="password" type="password" class="form-control" placeholder="Password" required>
    <input name="password_confirm" ng-model="password_confirm" type="password" class="form-control" placeholder="Confirm Password" confirmpassword='password'>
    <p class="help-block" ng-show="signup.password_confirm.$dirty && signup.password_confirm.$invalid">please match the passwords</p>
    <button ng-disabled="signup.$invalid"  class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>

</form>
        
