<div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
        <!--        <img src="images/yeoman.png" alt="I'm Yeoman">-->
        <!--        <br> Always a pleasure scaffolding your apps.-->
        <img src="http://static1.squarespace.com/static/4fd1028ee4b02be53c65dfb3/5220fe45e4b0120ef55a7726/5220fe55e4b0a38cc9604711/1377893973898/e07e70bc9e5d7bc902fe2a4e1afce966.jpg?format=750w" alt="Infinte Ways To Get Your Dream Car">
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a>
    </p>
</div>

<div class="row marketing">
    <h4>Your Dream Car Provider</h4>
    <p>
        Never Give Up
    </p>

</div>