<div id="content">
    <div class="company legal twoCol">
        <div id="nav" style="display:none;">
            <div class="wrap">
                <a href="/company/">Overview<div class="arrow-down"></div></a>
                <a href="/company/management/">Management<div class="arrow-down"></div></a>
                <a href="/company/investors/">Investors<div class="arrow-down"></div></a>
                <a href="/company/partners/">Partners<div class="arrow-down"></div></a>
                <a href="/company/brand/">Brand<div class="arrow-down"></div></a>
                <a href="/company/legal/">Legal<div class="arrow-down"></div></a>
            </div>
        </div>
        <!-- /#subnav -->

        <div class="wrap">
            <div class="colA">
                <h3></h3>
                <ul>
                    <li id="msaLink" style="display:none;"><a href="/company/legal/msa">Master Services Agreement</a>
                    </li>
                    <li><a href="/company/legal/tos">Terms of Service</a>
                    </li>
                    <li><span>Acceptable Use Policy</span>
                    </li>
                    <li><a href="/company/legal/privacy">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="colB">
                <h1>Acceptable Use Policy</h1>
                <p><em>Last Revised: August 17, 2010</em>
                </p>
                <p style="text-align:justify">
                    Your use of the Service is subject to the Acceptable Use Policy. If you are found to be in violation of our policies at any time, as determined by ObjectLabs Corporation ("Carsure", "we" or "us") in its sole discretion, we may warn you or suspend or terminate your account.
                </p>
                <p style="text-align:justify">
                    Please note that we may change our Acceptable Use Policy at any time, and pursuant to the Carsure <a href="/company/legal/tos">Terms of Service</a> (the "Terms"), it is your responsibility to keep up-to-date with and adhere to the policies posted here. All capitalized terms used herein have the meanings stated in the Terms, unless stated otherwise.
                </p>
                <h2>Prohibited Content</h2>

                <p style="text-align:justify">The Content displayed and/or processed through your Application or other web site utilizing the Service shall not contain any of the following types of content:</p>

                <ol style="list-style-type: lower-alpha;">
                    <li>Content that infringes a third party's rights (e.g., copyright) according to applicable law;</li>
                    <li>Excessively profane content;</li>
                    <li>Hate-related or violent content;</li>
                    <li>Content advocating racial or ethnic intolerance;</li>

                    <li>Content intended to advocate or advance computer hacking or cracking;</li>
                    <li>Gambling;</li>
                    <li>Other illegal activity, including without limitation illegal export of controlled substances or illegal software;</li>
                    <li>Drug paraphernalia;</li>
                    <li>Phishing;</li>
                    <li>Malicious content;</li>

                    <li>Other material, products or services that violate or encourage conduct that would violate any criminal laws, any other applicable laws, or any third-party rights.</li>
                </ol>


                <h2>Prohibited Actions</h2>

                <p style="text-align:justify">In addition to (and/or as some examples of) the violations described in the Terms, you may not and may not allow any third party, including your end users, to:</p>

                <ol style="list-style-type: lower-alpha">
                    <li>Generate or facilitate unsolicited commercial email ("spam"). Such activity includes, but is not limited to:
                        <ol style="list-style-type: lower-roman;">
                            <li>sending email in violation of the CAN-SPAM Act or any other applicable anti-spam law;</li>

                            <li>imitating or impersonating another person or his, her or its email address, or creating false accounts for the purpose of sending spam;</li>
                            <li>data mining any web property (including Carsure) to find email addresses or other user account information;</li>
                            <li>sending unauthorized mail via open, third-party servers;</li>
                            <li>sending emails to users who have requested to be removed from a mailing list;</li>
                            <li>selling, exchanging or distributing to a third party the email addresses of any person without such person's knowing and continued consent to such disclosure; and</li>
                            <li>sending unsolicited emails to significant numbers of email addresses belonging to individuals and/or entities with whom you have no preexisting relationship.</li>

                        </ol>
                    </li>
                    <li>Send, upload, distribute or disseminate or offer to do the same with respect to any unlawful, defamatory, harassing, abusive, fraudulent, infringing, obscene, or otherwise objectionable content</li>
                    <li>Intentionally distribute viruses, worms, defects, Trojan horses, corrupted files, hoaxes, or any other items of a destructive or deceptive nature;</li>
                    <li>Conduct or forward pyramid schemes and the like;</li>
                    <li>Transmit content that may be harmful to minors;</li>
                    <li>Impersonate another person (via the use of an email address or otherwise) or otherwise misrepresent yourself or the source of any email;</li>

                    <li>Illegally transmit another's intellectual property or other proprietary information without such owner's or licensor's permission;</li>
                    <li>Use the Service to violate the legal rights (such as rights of privacy and publicity) of others;</li>
                    <li>Promote or encourage illegal activity;</li>
                    <li>Interfere with other users' enjoyment of the Service;</li>
                    <li>Sell, trade, resell or otherwise exploit the Service for any unauthorized commercial purpose;</li>
                    <li>Modify, adapt, translate, or reverse engineer any portion of the Service;</li>

                    <li>Remove any copyright, trademark or other proprietary rights notices contained in or on the Service;</li>
                    <li>Reformat or frame any portion of the web pages that are part of the Service's Administration Console;</li>
                    <li>Use the Service in connection with illegal peer-to-peer file sharing;</li>
                    <li>Display any content on the Service (including but not limited to the customizable login page) that contains any pornographic, hate-related or violent content or contain any other material, products or services that violate or encourage conduct that would violate any criminal laws, any other applicable laws, or any third party rights; or</li>
                    <li>Modify the Carsure logo or any other Carsure trademarks, logos, service marks, trade dress, slogans, copyrighted designs or other brand features.</li>
                    <li>Use the Service, or any interfaces provided with the Service, to access any Carsure product or service in a manner that violates the Terms or other terms and conditions for use of such Carsure product or service.</li>

                </ol>
                <p style="text-align:justify">
                    This document is an adaptation of the
                    <a rel="nofollow" href="//code.google.com/appengine/program_policies.html" target="_blank">Google App Engine
                Program Policies</a>. We have modified this original work with permission under the <a rel="nofollow" href="//creativecommons.org/licenses/by/3.0/" target="_blank">Creative
                Commons Attribution 3.0 License</a>. Google Inc. is not connected with, does not sponsor and does not endorse Carsure or its use of the work.
            </div>
        </div>
    </div>
</div>
<!-- /#content -->